@use "../../../modules" as *;

.section {
  @include container;
  padding-top: 80px; 
  padding-bottom: 80px; 
  
  @include flex-center($gap: 20px);

  .containerTexts {
    width: 35%;
    @include flex-center(column);
    align-items: flex-start;

    .label {
      color: $primary;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
    }

    .title {
      font-size: 45px;
      line-height: 56px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .description {
      font-weight: 400;
      line-height: 26px;
      color: $text-secondary;
      font-size: 18px;
      margin-bottom: 52px;

      @include mobile {
        margin: 0 auto;
      }
    }

    .btn {
      @include moreLearnBtn;
    }
  }

  .img {
    width: 62%;
    @include flex-center;
  }
}