@use "../../../modules" as *;


.section {
  @include flex-center;
  max-width: $max-width;
  margin: $layout;

  @include mobile {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
    margin-top: 20px;
  }
  .label {
    color: $primary;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  
  }
  .container {
    width: 33%;
    @include flex-center(column);
    align-items: flex-start;
  
    h2 {
      font-size: 45px;
      line-height: 56px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  
    @include mobile {
      align-items: center;
    }
  }
  .description {
    font-weight: 400;
    line-height: 26px;
    color: $text-secondary;
    max-width: 440px;
    font-size: 18px;
    margin-bottom: 52px;
  
    @include mobile {
      margin: 0 auto;
    }
  }
  
  .img{
      width: 65%;
    @include flex-center;
  

  }
  
  .btn{
  @include moreLearnBtn 
  
  }
}


