@use "../../../modules" as *;


.section {
  @include flex-center($gap: 40px);
  padding: 40px 20px;
  max-width: $max-width;
  margin: 40px auto 0;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
    margin-top: 20px;
  }
}

.container {
  flex: 1;
  min-width: 300px;
  @include flex-center(column, 25px);
  align-items: flex-start;

  h2 {
    font-size: clamp(24px, 5vw, 40px);
    line-height: 1.2;
    margin: 0;
  }

  @include mobile {
    align-items: center;
  }
}

.label {
  color: $primary;
  font-weight: 600;
  // margin: 0 auto;
}

.description {
  line-height: 1.6;
  color: #555;
  max-width: 500px;
  font-size: 16px;

  @include mobile {
    margin: 0 auto;
  }
}

.img{
  flex: 1;
  min-width: 300px;
  @include flex-center;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}

.btn{
@include moreLearnBtn 

}