@use "../../../modules" as *;

.container {
  @include flex-center;
  max-width: $max-width;
  margin: $layout;
  .content {
    @include flex-center(column);
    max-width: $max-width;
  }
  .btn {
    @include moreLearnBtn;
  }
  .containerCards {
    @include flex-center;
    gap: 128px;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      text-align: start;
    }
    .image {
      width: 48%;
    }
  }
  .codeContainer {
    width: 41%;

    h2 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 16px;
    }
    p {
      color: $text-secondary;
    }
  }

  .step {
    margin-bottom: 12px;
    span {
      padding: 5px;
      background: #ffc107;
      line-height: 20px;
      border-radius: 20px;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .rightTitle h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 44px;
    font-weight: 500;
  }

  .about p {
    color: $text-secondary;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .list {
    margin-bottom: 40px;

    li {
      margin-bottom: 4px;
      color: $text-secondary;
      list-style: none;
    }
  }

  @media (max-width: 992px) {
    display: inline-block;
    text-align: left;
  }
}
