@use "../../../modules" as *;

.container {
  padding-block: 80px;
  @include container;
  @include flex-center;

  .content {
    @include flex-center(column);
    width: 100%;

    .containerCards {
      @include flex-center;
      width: 100%;

      .image {
        width: 59%;
        
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .codeContainer {
        width: 41%;

        .step {
          margin-bottom: 12px;
          span {
            padding: 5px;
            background: #ffc107;
            line-height: 20px;
            border-radius: 20px;
            font-weight: 500;
            font-size: 14px;
          }
        }

        .rightTitle {
          .title {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 16px;
            font-weight: 500;
          }
        }

        .about {
          p {
            color: $text-secondary;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 16px;
            font-size: 18px;
          }
        }

        .list {
          margin-bottom: 40px;
          li {
            margin-bottom: 4px;
            color: $text-secondary;
            list-style: none;
          }
        }

        .btn {
          @include moreLearnBtn;
        }
      }
    }
  }
}
