@use "../../../modules" as *;


.container {
  @include flex-center;
max-width: $max-width;
margin: $layout
}

.content {
  @include flex-center(column);
  max-width: $max-width;
}

.titleTop {
  margin-bottom: 40px;
  
  h2 {
    font-size: clamp(22px, 4vw, 32px);
    color:$black;
    line-height: 1.3;
  }

  @media (max-width: 992px) {
    text-align: center;
  }
}

.containerCards {
  @include flex-center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
}

.image {
  flex: 1;
  min-width: 300px;

  .img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.codeContainer {
  flex: 1;
  
  max-width: 500px;
}

.step {
  margin-bottom: 15px;

  span {
    background: #ffc107;
    padding: 6px 18px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
  }
}

.rightTitle h2 {
  font-size: clamp(24px, 5vw, 36px);
  margin-bottom: 20px;
  line-height: 1.2;
}

.about p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
  font-size: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
    margin-bottom: 12px;
    color: #333;


  }

  @media (max-width: 992px) {
    display: inline-block;
    text-align: left;
  }
}

.btn {
@include moreLearnBtn
}