@use "./variables" as *;


@mixin flex-center($dir: row, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: space-evenly;
    align-items: center;
    gap: $gap;
   flex-wrap: wrap;

  }
  
  @mixin btn-outline($color: $primary) {
    padding: 12px 35px;
    border: 1px solid $color;
    background: transparent;
    color: $color;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: $tr-300;
    
    &:hover {
      background: $color;
      color: white;
    }
  }
  
  @mixin tablet {
    @media (max-width: 1024px) { @content; }
  }
  
  @mixin mobile {
    @media (max-width: 768px) { @content; }
  }

  @mixin moreLearnBtn(){
    
      padding: 12px 35px;
      border: 1px solid $primary;
      background: $white;
      color: $primary;
      border-radius: 8px;
      cursor: pointer;
      transition: $tr-300;
      font-weight: 600;
    
      &:hover {
        background: $primary;
        color: $white;
      }
    }
  