// Core Brand Colors
$primary: #3675d9;
$primary-light: rgba(161, 224, 255, 0.212);
$warning: #ffc107;

// Neutral / UI
$text-main: #1a1a1a;
$text-secondary: #4A5461;
$border-color: #dcdcdc;

// Surfaces
$white: #ffffff;
$bg-body: #e1eaf980;
$black: #000;

//transition
$tr-300: 0.3s ease;

//width
$max-width: 1276px;
$content-width: 1276px;

//layout with margin
$layout: 56px auto;
