


// Core Brand Colors
$primary:       #3675D9;
$primary-light: rgba(54, 117, 217, 0.1);
$warning:       #ffc107;

// Neutral / UI
$text-main:     #1a1a1a;
$text-secondary:#666666;
$border-color:  #dcdcdc;

// Surfaces
$white: #ffffff;
$bg-body:       #E1EAF980;
$black: #000;




//transition
$tr-300: 0.3s ease;



//width
$max-width: 1276px;

//layout with margin
$layout:   56px auto;
