@use "../../../modules" as *;

.container {
  @include flex-center(column, 60px);
  @include container();
  padding-top: 32px;

  .title {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  .wrapper {
    @include flex-center($gap: 20px);

    .card {
      width: calc(100% / 3 - 20px);
      @include flex-center(column, 17px);
      margin: 0 auto;
      background-color: $bg-body;
      border-radius: 17px;
      text-align: center;
      height: 432px;

      .title {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
      }

      .about {
        padding: 0 64px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .wrapper {
      .card {
        width: 100%;
      }
    }
  }
}