@use "../../../modules" as *;

.container {
  @include container();
  @include flex-center(column, 60px);
  padding-top: 32px;
  
  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
  }
  
  .wrapper {
    width: 100%;

    .mySwiper {
      width: 100%;
    }

    .card {
      @include flex-center(column, 17px);
      display: flex;
      height: 432px;
      text-align: center;
      background-color: $bg-body;
      border-radius: 17px;
      
      
      .titleCards {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
      }

      .about {
        padding: 0 27px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $text-secondary;
      }
    }

    .paginationContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-top: 24px;

      .bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-color: #ccc;
        border-radius: 50%;
      }

      .bulletActive {
        background-color: $primary;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .wrapper{

      .paginationContainer {
        display: none;
      }
    }
  }
}