@use "../../../modules" as *;

.container {
  @include flex-center;
  @include container();
  margin-top: 54px;

  .texts {
    @include flex-center(column);
    align-items: flex-start;
    width: calc(48% - 25px);
    line-height: 22px;

    .step {
      background-color: $primary;
      width: 64px;
      border-radius: 17px;
      font-size: 14px;
      text-align: center;
      color: $white;
      margin-bottom: 16px;
    }

    .title {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 16px;
    }

    .text {
      max-width: 470px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 26px;
      color: $text-secondary;
    }

    .btn {
      padding: 12px 35px;
      border: 1px solid $primary;
      background: $white;
      color: $primary;
      border-radius: 8px;
      cursor: pointer;
      transition: $tr-300;
      font-weight: 600;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
  }

  .imgCont {
    width: calc(48% - 25px);
  }
}