@use "../../../modules" as mxs;


.contain__gift {
  @include mxs.flex-center($gap: 77px);
  flex-wrap: wrap;
}

.text__part {
  @include mxs.flex-center(column, 30px);
  align-items: flex-start;
  line-height: 22px;
  p{
    max-width: 470px;
  }
}

.qayl1 {
  background-color: mxs.$blue-main;
  width: 64px;
  border-radius: 17px;
  text-align: center;
  color:mxs.$white;
}

.learn__more--bt {
  padding: 12px 35px;
  border: 1px solid mxs.$blue-main;
  background: mxs.$white;
  color: mxs.$blue-main;
  border-radius: 8px;
  cursor: pointer;
  transition: mxs.$tr-300;
  font-weight: 600;

  &:hover {
    background: mxs.$blue-main;
    color: mxs.$white;
  }
}