@use "../../../modules" as *;

.container {
  @include container();
  line-height: 94px;

  .titleContain {
    @include flex-center;
    margin-top: 70px;

    .title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .operators {
    @include flex-center($gap: 20px);
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 60px;

    img {
      height: 25px;
      opacity: 0.5;
      transition: opacity $tr-300;

      &:hover {
        opacity: 1;
      }
    }
  }
}