@use "../../../modules" as *;

.wrapper {
  position: fixed;
  top: 50px;
  z-index: 10;
  transition: $tr-300;
  width: 100%;

  &.scrolled {
    top: 0;

    .container {
      margin-top: -1px;
      background-color: $white;
    }
  }

  .container {
    @include container;
    @include flex-center(row, space-between);
    padding: 15px;

    .logo img {
      max-width: 130px;
    }
  }

  @media screen and (max-width: 1024px) {
    top: 130px;

    .container {
      margin-top: 0;
      background-color: $white;
    }
  }
}

.menu {
  @include flex-center;

  .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;

    li a {
      text-decoration: none;
      font-size: 14px;
      color: #1f1f1f;
      font-weight: 400;
      transition: color $tr-300;

      &:hover,
      &.active {
        color: $primary;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    position: fixed;
    height: 100vh;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: $white;
    flex-direction: column;
    transition: 0.4s;
    z-index: 999;
    padding: 80px 0;

    &.open {
      left: 0;
    }

    .list {
      flex-direction: column;
      gap: 30px;
    }
  }
}

.desktop {
  @include flex-center(row, 10px);

  .langDropdown {
    position: relative;
    cursor: pointer;

    p {
      @include flex-center;
      background: $primary-light;
      color: $primary;
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }

    .dropdownContent {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      min-width: 60px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      span {
        display: block;
        padding: 8px 10px;
        color: $text-secondary;
        font-size: 14px;
        text-align: center;

        &:hover {
          background-color: $primary-light;
          color: $primary;
        }
      }
    }

    &:hover .dropdownContent {
      display: block;
    }
  }

  .tellBtn {
    @include flex-center;
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
      width: 40px;
      height: 40px;
      padding: 0;

      .tellNum {
        display: none;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: 0.3s;
  }

  &.active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 998;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}