@use "../../../modules" as *;

.container {
  @include flex-center($gap: 50px);
  text-align: start;
  max-width: $max-width;
  margin-top: 150px;


  .textContainer {
    width: 48%;
    height: 370px;

    .pause {
      @include flex-center();
      cursor: pointer;
      background-color: #e4feff;
      border-radius: 7px;
      width: 50px;
      transition: $tr-300;
      height: 50px;

      &:hover {
        background-color: rgb(106, 163, 216);
      }
    }

    h1 {
      font-weight: 500;
      font-size: 57px;
      line-height: 72px;
    }

    p {
      margin-top: 8px;
      font-size: 18px;
      color: #4A5461;
      line-height: 26px;
    }

    .headerBtn {
      margin-top: 30px;
      display: flex;
      gap: 20px;

      button {
        width: 170px;
        height: 52px;
        cursor: pointer;
        background-color: $primary;
        border-radius: 7px;
        border: none;
        color: $white;
        letter-spacing: 2px;
        transition: all 0.4s;
      }
    }
  }
  .imgCont{
    width: 48%; 
  }

}

.firstWord {
  opacity: 0;
  display: inline-block;
  animation: textLoading 0.6s 0.9s forwards;
}

.secondWord {
  opacity: 0;
  display: inline-block;

  animation: textLoading 0.6s 1.1s forwards;
}

.thirdWord {
  opacity: 0;
  display: inline-block;

  animation: textLoading 0.6s 1.3s forwards;
}

.btnAnim {
  opacity: 0;
  display: inline-block;

  animation: textLoading 0.6s 1.5s forwards;
}

.animePause {
  opacity: 0;
  display: inline-block;

  animation: textLoading 0.6s 1.3s forwards;
}

@keyframes textLoading {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}


button:hover {
  background-color: rgb(148, 214, 236);
  color: $primary;
}
