@use "../../../modules" as *;

.container {
  @include flex-center($gap: 20px);
  @include container();
  text-align: start;
  margin-top: 150px;

  .textContainer {
    width: calc(50% - 10px);

    h1 {
      font-weight: 500;
      font-size: 57px;
      line-height: 72px;
    }

    p {
      margin-top: 8px;
      font-size: 18px;
      color: #4a5461;
      line-height: 26px;
    }

    .headerBtn {
      margin-top: 30px;
      display: flex;
      gap: 20px;

      button {
        width: 170px;
        height: 52px;
        cursor: pointer;
        background-color: $primary;
        border-radius: 7px;
        border: none;
        color: $white;
        letter-spacing: 2px;
        transition: all 0.4s;

        &:hover {
          background-color: rgb(148, 214, 236);
          color: $primary;
        }
      }

      .pause {
        @include flex-center();
        cursor: pointer;
        background-color: #e4feff;
        border-radius: 7px;
        width: 50px;
        height: 50px;
        transition: $tr-300;

        &:hover {
          background-color: rgb(106, 163, 216);
        }
      }
    }
  }

  .imgCont {
    width: calc(50% - 10px);
  }

  .firstWord {
    @include text-anim(0.9s);
  }
  .secondWord {
    @include text-anim(1.1s);
  }
  .thirdWord {
    @include text-anim(1.3s);
  }
  .btnAnim {
    @include text-anim(1.5s);
  }
  .animePause {
    @include text-anim(1.3s);
  }
}

@keyframes textLoading {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
