@use "../../../modules" as *;

.container {
  @include flex-center($gap: 128px);
  @include container();
  margin-top: 70px;

  .img {
    width: calc(48% - 60px);
    max-height: 572px;
  }

  .texts {
    @include flex-center(column, 30px);
    align-items: flex-start;
    width: calc(46% - 55px);

    .title {
      line-height: 47px;
      font-size: 36px;
      font-weight: 500;
    }

    .first {
      background-color: #00ba85;
      @include flex-center;
      width: 60px;
      height: 28px;
      border-radius: 17px;
      text-align: center;
      color: $white;

      span {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .aboutDiscount {
      margin-top: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $text-secondary;
    }

    .btn {
      margin-top: 40px;
      height: 48px;
      width: 180px;
      color: $primary;
      border: solid 1px $primary;
      border-radius: 7px;
      background-color: transparent;
      cursor: pointer;
      transition: all $tr-300;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
@media screen and (max-width:1024px){
  .container{
    flex-direction: column;
    .texts{
      width: 100%;
      .btn{
        width: 100%;
      }
    }
    .img{
      width: 100%;
    }
  }
}