@use "../../../modules" as *;

.container {
  @include flex-center($gap: 20px);
  @include container();
  margin-top: 70px;

  .img {
    width: calc(50% - 10px);
    max-height: 572px;
  }

  .texts {
    @include flex-center(column, 30px);
    align-items: flex-start;
    width: 48%;

    .title {
      line-height: 47px;
      font-size: 36px;
      max-width: 470px;
    }

    .first {
      background-color: #00BA85;
      @include flex-center;
      width: 60px;
      height: 28px;
      border-radius: 17px;
      text-align: center;
      color: $white;

      span {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .aboutDiscount {
      margin-top: 16px;
      max-width: 520px;
      font-size: 18px;
      line-height: 26px;
      color: $text-secondary;
    }

    .btn {
      margin-top: 40px;
      height: 48px;
      width: 180px;
      color: $primary;
      border: solid 1px $primary;
      border-radius: 7px;
      background-color: transparent;
      cursor: pointer;
      transition: all $tr-300;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}