@use "../../../modules" as *;

.container {
  @include flex-center($gap: 12px);
  height: 40px;
  color: $white;
  background-color: $primary;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  box-sizing: border-box;

  p {
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
    white-space: nowrap;
    font-weight: 700;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 140px;

    p {
      max-width: 292px;
      line-height: 20px;
      font-size: 14px;
      text-align: left;
      font-weight: 400;
      color: #f0f5fcbc;
    }

    a {
      align-self: flex-start;
      font-size: 16px;
    }
  }
}
