@use "./modules" as *;
@use "././assets/styles/fonts.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "MontserratArm", "Monserat", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}



// @media screen and (max-width: 1024px) {
//   section{
//     margin: 0 auto;
//     width: 100%;
//   }
  
// }