@use "./modules" as *;
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}


body {
  
  font-family:  "Montserrat", sans-serif;
  
  
}
