/* Montserrat Armenian - Regular */
@font-face {
  font-family: "MontserratArm";
  src: url("../fonts/monseratArm/Montserratarm-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Montserrat Armenian - Medium */
@font-face {
  font-family: "MontserratArm";
  src: url("../fonts/monseratArm/Montserratarm-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Montserrat Armenian - Bold */
@font-face {
  font-family: "MontserratArm";
  src: url("../fonts/monseratArm/Montserratarm-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
